@font-face {
  font-family: "HelveticaNeue";
  src: url("/public/assets/fonts/HelveticaNeue-01.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  /* font-family: 'HelveticaNeue' sans-serif; */
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

#root {
  font-family:'HelveticaNeue'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
